@page
@model XRCultureWebApp.Pages.LibraryModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Library";
}

<h1 class="display-4">Library</h1>

@{
    foreach (var modelInfo in Model.GetModelInfos())
    {
        var viewerUrl = $"/viewer/viewer.html?model={@modelInfo.Id}";
        var downloadUrl = $"/DownloadFolder?handler=File&file={@modelInfo.Id}.binz";
        <div class="card mb-3">
            <h5 class="card-header">@modelInfo.Input</h5>
            <div class="card-body">
                <p class="card-text"><strong>Workflow:</strong> @modelInfo.WorkflowName</p>
                <p class="card-text"><strong>Created:</strong> @modelInfo.TimeStamp</p>
                <a href="@viewerUrl" target="_blank" class="btn btn-secondary">View</a>
                <a href="@downloadUrl" target="_blank" class="btn btn-secondary">Download</a>
            </div>
        </div>
    }
}